.form-group
  label(for="title") 여행지
  input.form-control(type="text", name="title", placeholder="여행지를 입력하세요", value=tour.title)
.form-group
  label(for="name") 이름
  input.form-control(type="text", name="name", placeholder="상품 이름을 입력하세요", value=tour.name)  
.form-group
  label(for="price") 가격
  input.form-control(type="text", name="price", placeholder="상품 가격을 입력하세요", value=tour.price)  
.form-group
  label(for="tour") 설명
  textarea.form-control(name="content", rows="5")= tour.content
.form-group
  label(for="tags") Tags
  input.form-control(type="text", name="tags", placeholder="tags separated by spaces", value=tour.tags ? tour.tags.join(" ") : "")
